---
---

@import "{{ site.theme }}";
#header_wrap {
  background: lightblue;
}

.ljhr {
  border-top: 2px dashed lightblue;
  background: none;
  margin-bottom: 30px;
}

img {
  float: right;
  width: 160px; 
  margin: 10px 0 0 20px;
}

.lj-img01 {
  float: none;
  width: 734px; 
  margin: 10px;
}

.lj-img500 {
  float: none;
  width: 500px; 
  margin: 10px;
}
