---
---

@import "{{ site.theme }}";
#header_wrap {
  background: lightblue;
}

.ljhr {
  border-top: 2px dashed lightblue;
  background: none;
  margin-bottom: 30px;
}

img {
  float: right;
  width: 200px; 
  margin: 0 0 20px 20px;
}
